spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/Shopping_Cart
    username: postgres
    password: um17tzno
  liquibase:
    change-log: classpath:db/changelog/changelog-master.xml
    drop-first: true
  jpa:
    hibernate:
      ddl-auto: validate

server:
  port: 8080
